<form method="post" action="/jewels">
    <label for="mineral">MINERAL:</label>
    <input id="mineral" name="jewel[mineral]">
<br>
    <label for="facets">FACETS:</label>
    <input id="facets" name="jewel[facets]">
<br>
    <label for="location">LOCATION:</label>
    <input id="location" name="jewel[location]">
<br>
    <input type="submit" value="Add This Jewel to Eliza's Treasure Box">
</form>


