<h2>Enter a new Jewel-owner:</h2>
<form method="post" action="/owners">
    <label for="name">NAME:</label>
    <input id="name" name="name">
<br>
    <label for="acquisition_date">YEAR OF ACQUISITION:</label>
    <input id="acquisition_date" name="acquisition_date">
<br>
    <input type="submit" value="Create a new Jewel-Owner">
</form>
