<h2>What a lovely gemstone!<br>Here's more information about it:</h2>
<p>Kind of Mineral:  <%= @jewel.mineral %></p>
<p>How many Facets:  <%= @jewel.facets %></p>
<p>Where is it from:  <%= @jewel.location %></p>
<p>Wow such sparkle-so beauty!</p>

